@using MVCBierenApplication.Models
@model List<Bier>

@{
    ViewBag.Title = "Index";
}

<h2>Alle Bieren</h2>

<table class="zebra">
    <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Alcohol</th>
            <th>Verwijderen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bier in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => bier.BierNr)</td>
                <td>@bier.Naam</td>
                <td>@Html.DisplayFor(m => bier.Alcohol)</td>
                <td><a href='@Url.Action("Delete", new { ID = bier.BierNr })' title="bier @bier.BierNr verwijderen">
    <img src='@Url.Content("~/Images/delete.png")' /></a></td>
            </tr>
        }
    </tbody>
</table>

@{var bierurl = Url.Action("Create", "Bier");}
<a href="@bierurl">Bier toevoegen</a>


